/* root */
:root {
    --bold: 600;
    --medium: 400;
}

/* main general */
.main {
    width: 100vw;
    height: 100vh;

    background-image: url(/assets/cat.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: rgb(85, 85, 85);
    background-blend-mode: soft-light;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* title */
.a {
    position: absolute;
    top: 5rem;
    left: 9rem;
    font-size: clamp(5em, 50vw, 10em);
    /* letter-spacing: ; */
    line-height: 8.5rem;
}
@keyframes letter {
    0% {
        font-size: 130px;
    }

    50% {
        font-size: 160px;
    }

    100% {
        font-size: 130px;
    }
}
.letter {
    animation: letter 1s infinite;
}
.letter1 {
    animation-delay: 0s;
}
.letter2 {
    animation-delay: -0.9s;
}
.letter3 {
    animation-delay: -0.8s;
}